@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  html {
    overflow-x: hidden;
    max-width: 100%;
  }
}

@layer utilities {
  .paused {
    animation-play-state: paused;
  }

  a:not(.logo),
  button[role='link']:not(.cta-button) {
    @apply text-teal-400 hover:text-teal-300 bg-transparent hover:bg-zinc-200/10 not-italic duration-100 px-2 rounded-md text-lg;
  }

  .container {
    @apply max-w-screen-lg mx-auto w-full px-6;
  }

  .cta-button {
    @apply px-4 py-3 rounded-full border-none outline-none flex gap-1 items-center justify-center cursor-pointer text-nowrap whitespace-nowrap
    bg-amber-500 no-underline duration-150 hover:bg-amber-400;
  }

  .cta-button::before {
    @apply text-xl text-black font-bold w-auto h-auto tracking-wide;
    content: 'See deals';
  }

  .cta-button::after {
    @apply content-[''] w-6 h-6 flex items-center justify-center;
    background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10.007 2.10377C8.60544 1.65006 7.08181 2.28116 6.41156 3.59306L5.60578 5.17023C5.51004 5.35763 5.35763 5.51004 5.17023 5.60578L3.59306 6.41156C2.28116 7.08181 1.65006 8.60544 2.10377 10.007L2.64923 11.692C2.71404 11.8922 2.71404 12.1078 2.64923 12.308L2.10377 13.993C1.65006 15.3946 2.28116 16.9182 3.59306 17.5885L5.17023 18.3942C5.35763 18.49 5.51004 18.6424 5.60578 18.8298L6.41156 20.407C7.08181 21.7189 8.60544 22.35 10.007 21.8963L11.692 21.3508C11.8922 21.286 12.1078 21.286 12.308 21.3508L13.993 21.8963C15.3946 22.35 16.9182 21.7189 17.5885 20.407L18.3942 18.8298C18.49 18.6424 18.6424 18.49 18.8298 18.3942L20.407 17.5885C21.7189 16.9182 22.35 15.3946 21.8963 13.993L21.3508 12.308C21.286 12.1078 21.286 11.8922 21.3508 11.692L21.8963 10.007C22.35 8.60544 21.7189 7.08181 20.407 6.41156L18.8298 5.60578C18.6424 5.51004 18.49 5.35763 18.3942 5.17023L17.5885 3.59306C16.9182 2.28116 15.3946 1.65006 13.993 2.10377L12.308 2.64923C12.1078 2.71403 11.8922 2.71404 11.692 2.64923L10.007 2.10377ZM6.75977 11.7573L8.17399 10.343L11.0024 13.1715L16.6593 7.51465L18.0735 8.92886L11.0024 15.9999L6.75977 11.7573Z"></path></svg>');
  }

  .title {
    @apply text-5xl font-bold text-amber-500;
  }

  .subtitle {
    @apply text-2xl font-medium text-white;
  }

  .feature {
    @apply flex flex-row items-center gap-4 even:flex-row-reverse even:text-right;
  }

  .feature svg {
    @apply fill-white w-18 h-18;
  }

  .feature h2 {
    @apply text-amber-500 font-medium text-3xl;
  }

  .feature h3 {
    @apply max-w-[680px] text-lg;
  }
}

#mascot {
  animation: mascot-animation 1500ms linear;

  &:hover {
    animation-play-state: paused;
  }

  #mascot-text {
    transition:
      opacity 200ms ease-in-out 100ms,
      transform 300ms ease-in-out,
      background-color 200ms ease-in-out;
  }

  img {
    animation: tilt-shaking 3s linear infinite 3s;

    &:hover {
      animation-play-state: paused;
    }
  }
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }

  1.5% {
    transform: rotate(3.5deg);
  }

  3% {
    transform: rotate(0deg);
  }

  4.5% {
    transform: rotate(-3.5deg);
  }

  6% {
    transform: rotate(0deg);
  }
}

@keyframes mascot-animation {
  0% {
    right: -200px;
    opacity: 0;
  }

  50% {
    right: -200px;
  }

  100% {
    opacity: 1;
    right: 0;
  }
}
