/* Open-sans 300-800 */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Global */
$background-primary: #353b48;
$background-secondary: #1e272e;
$background-alternate: rgba(0, 0, 0, 0.2);
$background-action: #686de0;
$background-action-hover: #868bfe;
$background-white: #d2dae2;
$text-primary: #d2dae2;
$text-secondary: #a29bfe;
$text-black: #000000;
$text-disabled: #7f8fa6;
$text-success: #44bd32;
$text-fail: #e84118;
$text-info: #669cce;
$text-small: 12px;
$text-default: 15px;
$text-cta: 17px;
$text-large: 20px;
$text-subtitle: 24px;
$text-logo: 30px;
$text-title: 42px;
$font-primary: 'Open Sans';
$padding-x-desktop: 320px;
$padding-x-mobile: 24px;
$gap-y-desktop: 96px;
$gap-y-mobile: 128px;
$header-height: 90px;
$mobile: 'screen and (max-width: 1099px)';
$desktop: 'screen and (min-width: 1100px)';

* {
  box-sizing: border-box;
}

:root {
  font-family: $font-primary, sans-serif;
  font-weight: 400;
  color: $text-primary;
}

body {
  display: flex;
  flex-direction: column;
  gap: $gap-y-desktop;
  background-color: $background-primary;
  padding-top: calc($header-height + $gap-y-desktop);
  overflow-x: hidden;
  max-width: 100vw;
}

svg {
  fill: $text-primary;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  height: $header-height;
  padding: 0 $padding-x-desktop;
  z-index: 10;
  background-color: $background-secondary;

  @media #{$mobile} {
    padding: 24px $padding-x-mobile;
    height: calc($header-height * 2);
    flex-direction: column;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

#mobile-header-area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header-logo {
  display: flex;
  gap: 8px;
}

main {
  display: flex;
  flex-direction: column;
  gap: $gap-y-desktop;

  @media #{$mobile} {
    gap: $gap-y-mobile;
  }

  section {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    gap: 72px;
    align-items: start;
    padding: 0 $padding-x-desktop;

    @media #{$mobile} {
      padding: 0 $padding-x-mobile;
    }
  }
}

#section-hero {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  white-space: nowrap;

  @media #{$mobile} {
    flex-direction: column;
  }
}

#hero-text {
  animation: hero-text-animation 350ms ease-in-out;
}

@keyframes hero-text-animation {
  from {
    opacity: 0;
    transform: translateY(200px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#hero-image-container {
  min-width: 520px;
  height: 250px;
  position: relative;
  animation: hero-image-animation 750ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    position: absolute;
    aspect-ratio: initial;
  }
}

#hero-image-car {
  width: 520px;

  @media #{$mobile} {
    width: 320px;
  }
}

#hero-image-tabby {
  width: 130px;
  transform: translateY(-110px);

  @media #{$mobile} {
    width: 90px;
    transform: translateY(-80px);
  }
}

@keyframes hero-image-animation {
  from {
    transform: translateX(150%);
  }

  to {
    transform: translateX(0%);
  }
}

#section-why-us {
  flex-direction: row;
  gap: 130px;
  padding: 150px $padding-x-desktop;
  background-color: $background-alternate;
  align-items: center;
  justify-content: center;
  width: 100%;

  @media #{$mobile} {
    flex-direction: column;
    padding: 150px $padding-x-mobile;
  }
}

#features-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 72px;

  @media #{$mobile} {
    font-size: 22px;
    gap: 96px;
  }

  .feature {
    display: flex;
    gap: 36px;
    max-width: 780px;

    @media #{$mobile} {
      gap: 16px;
    }

    &:nth-child(even) {
      text-align: right;
      align-self: end;
      flex-direction: row-reverse;
    }

    svg {
      width: 72px;
      height: 72px;
      min-width: 72px;
      min-height: 72px;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    h2 {
      color: $text-secondary;
    }
  }
}

#map {
  align-self: center;
}

address {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 100%;
  gap: 12px;
  text-align: right;
  line-height: 1.25;
}

#section-statistics {
  flex-direction: row;
  background-color: $background-alternate;
  padding-top: 90px;
  padding-bottom: 90px;
  font-size: $text-subtitle;
  font-weight: 700;

  div {
    display: flex;
    flex-direction: column;
    gap: 72px;
    flex: 1;

    &:nth-of-type(2) {
      text-align: right;
      border-left: 1px solid $text-primary;
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
  padding: 32px $padding-x-desktop;
  background-color: $background-secondary;

  nav {
    display: flex;
    gap: 32px;

    a {
      text-decoration: none;
      color: $text-info;
    }
  }
}

#mascot {
  position: fixed;
  right: 0;
  top: 100%;
  transform: translateY(-100%);
  width: 200px;
  height: 200px;
  transition: transform 200ms ease-in-out;
  z-index: 2;
  animation: mascot-animation 1500ms linear;

  &:hover {
    transform: translateX(-20px) translateY(-110%);
    animation-play-state: paused;

    #mascot-text {
      opacity: 1;
      transform: translateY(-50px);
      background-color: $background-secondary;
    }
  }

  img {
    width: 200px;
    height: 200px;
    animation: tilt-shaking 3s linear infinite 3s;

    &:hover {
      animation-play-state: paused;
    }
  }

  #mascot-text {
    position: absolute;
    opacity: 0;
    padding: 10px 20px 30px 10px;
    border-radius: 8px;
    z-index: -1;
    transition: opacity 200ms ease-in-out 100ms,
    transform 300ms ease-in-out,
    background-color 200ms ease-in-out;
    font-size: $text-small;
    width: 100%;
    box-sizing: border-box;
    line-height: 1.25;

    b {
      color: $text-secondary;
      font-weight: 600;
    }
  }
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }

  1.5% {
    transform: rotate(3.5deg);
  }

  3% {
    transform: rotate(0deg);
  }

  4.5% {
    transform: rotate(-3.5deg);
  }

  6% {
    transform: rotate(0deg);
  }
}

@keyframes mascot-animation {
  0% {
    right: -200px;
    opacity: 0;
  }

  50% {
    right: -200px;
  }

  100% {
    opacity: 1;
    right: 0;
  }
}

#got-convinced {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#got-convinced-text {
  display: flex;
  flex-direction: column;
  gap: 32px;

  h1 {
    font-size: $text-title;
    font-weight: 700;
    color: $text-secondary;
  }
}

#got-convinced-image-container {
  min-width: 520px;
  height: 250px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 100px;

  img {
    position: absolute;
    aspect-ratio: initial;
  }
}

#got-convinced-image-car {
  width: 600px;
}

#got-convinced-image-tabby {
  width: 150px;
  transform: translateY(-90px);
}

.mobile-dropdown {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .head {
    cursor: pointer;
    background-color: rgba($background-white, .1);
    padding: 18px 20px;
    font-size: $text-subtitle;
    font-weight: 600;
    border-radius: 36px;
    user-select: none;
  }

  &:hover, &:active, &:focus-within, &:focus {
    .head {
      border-radius: 24px 24px 0 0;
      background-color: rgba($background-white, .2);
    }

    .body {
      max-height: 2000px;
      padding: 24px 0;
    }
  }

  .body {
    position: absolute;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    gap: 24px;
    font-size: $text-large;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: $background-secondary;
    top: calc(50% + 30px);
    left: -16px;
    border-radius: 24px;
    transition: all 200ms ease-in-out;

    > * {
      margin-left: 32px;
      margin-right: 32px;
    }
  }
}

.logo {
  color: $text-primary;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
}

.title {
  color: $text-secondary;
  font-size: $text-title;
  text-transform: uppercase;
  font-weight: 700;

  @media #{$mobile} {
    font-size: 28px;
  }
}

.subtitle {
  color: $text-primary;
  font-size: $text-subtitle;
  font-weight: 600;

  @media #{$mobile} {
    font-size: 22px;
  }
}

.cta-button {
  border: none;
  border-radius: 24px;
  padding: 12px 16px;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  background-color: $background-action;
  white-space: nowrap;
  transition: 175ms ease;

  @media #{$mobile} {
    padding: 16px 20px;
    border-radius: 32px;
  }

  &:hover {
    background-color: $background-action-hover;
  }

  &::before {
    content: 'See deals';
    font-size: $text-cta;
    letter-spacing: 1px;
    color: $text-black;
    font-weight: 600;

    @media #{$mobile} {
      font-size: $text-subtitle;
      letter-spacing: 0;
    }
  }

  &::after {
    content: '';
    background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10.007 2.10377C8.60544 1.65006 7.08181 2.28116 6.41156 3.59306L5.60578 5.17023C5.51004 5.35763 5.35763 5.51004 5.17023 5.60578L3.59306 6.41156C2.28116 7.08181 1.65006 8.60544 2.10377 10.007L2.64923 11.692C2.71404 11.8922 2.71404 12.1078 2.64923 12.308L2.10377 13.993C1.65006 15.3946 2.28116 16.9182 3.59306 17.5885L5.17023 18.3942C5.35763 18.49 5.51004 18.6424 5.60578 18.8298L6.41156 20.407C7.08181 21.7189 8.60544 22.35 10.007 21.8963L11.692 21.3508C11.8922 21.286 12.1078 21.286 12.308 21.3508L13.993 21.8963C15.3946 22.35 16.9182 21.7189 17.5885 20.407L18.3942 18.8298C18.49 18.6424 18.6424 18.49 18.8298 18.3942L20.407 17.5885C21.7189 16.9182 22.35 15.3946 21.8963 13.993L21.3508 12.308C21.286 12.1078 21.286 11.8922 21.3508 11.692L21.8963 10.007C22.35 8.60544 21.7189 7.08181 20.407 6.41156L18.8298 5.60578C18.6424 5.51004 18.49 5.35763 18.3942 5.17023L17.5885 3.59306C16.9182 2.28116 15.3946 1.65006 13.993 2.10377L12.308 2.64923C12.1078 2.71403 11.8922 2.71404 11.692 2.64923L10.007 2.10377ZM6.75977 11.7573L8.17399 10.343L11.0024 13.1715L16.6593 7.51465L18.0735 8.92886L11.0024 15.9999L6.75977 11.7573Z"></path></svg>');
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.desktop {
  @media #{$mobile} {
    display: none;
  }
}

.mobile {
  @media #{$desktop} {
    display: none;
  }
}

.link-button {
  background-color: transparent;
  outline: none;
  border: none;
  color: $text-info;
  font-size: 28px;
  cursor: pointer;
  transition: color 150ms ease-in-out;
  white-space: nowrap;
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    height: 2px;
    width: 0;
    border-radius: 1px;
    background-color: $text-primary;
    left: 50%;
    transition: all 200ms ease-in-out;
  }

  &:hover {
    color: $text-primary;

    &::before {
      width: 100%;
      left: 0;
    }
  }

  &:first-of-type {
    @media #{$desktop} {
      margin-left: 16px;
    }
  }
}
